{% extends 'layout.html' %}
{% block title %} course {% endblock %}
{% load custom_filter %}
{% load static %}

{% block content %}
<section class="mb-6 flex sm:flex-row flex-col gap-4 justify-between">
        <div class="flex items-center justify-between">
          <div>
            <h1 class="text-3xl font-bold text-orange-500">Course Dashboard</h1>
            <p class="text-gray-500">
              Total <span class="font-medium text-blue-500">{{total}}</span> Courses
            </p>

              
            
          </div>
          
            <a href="/registration/create_course" class="bg-orange-500 text-white px-4 py-2 ml-5"> Create Course </a> 
          
        </div>
        
        <section aria-label="Filter content" class="sm:self-end sm:place-items-end flex flex-col gap-y-2">
          <label class="text-2xl font-medium" for="search">Quick Search</label>
          <input 
          class="block w-[300px] rounded-md field-sizing-content border-[1px] px-4 py-2" 
          id="search" 
          type="text" 
          placeholder="Search courses..." 
          autocomplete="search" value="{{search}}" 
          title="Filter data" />
        </section>

      </section>
      

      <div class="overflow-x-auto bg-white rounded-lg shadow border border-orange-100">
        <table class="min-w-full divide-y divide-orange-100">
          <thead class="bg-orange-100 text-left text-sm font-semibold text-gray-700">
            <tr>
              <th class="px-4 py-3">Course code</th>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Credits</th>
              <th class="px-4 py-3"> Action </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 text-sm">
            {% for course in course_list %}

            
              <tr class="{% if forloop.counter|divisibleby:'2' %} bg-gray-100 {% endif %} hover:bg-orange-50 transition">
                <td class="px-4 py-3">{{ course.id }}</td>
                <td class="px-4 py-3 font-medium">{{ course.course_name }}</td>
                <td class="px-4 py-3">{{ course.credits }}</td>
                <td class="px-4 py-3">
                    <a href="{% url 'update_course' course.course_code %}" class="bg-orange-500 text-white px-4 py-2"> Edit </a>
                </td>
              </tr>
            
            {% empty %}
              <tr>
                <td colspan="4" class="text-center text-gray-400 px-4 py-6">No course found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'course.js' %}"></script>
{% endblock %}