{% extends 'base.html' %}
{% load custom_filter %}

{% block title %}
  Create Student
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
  <div class="p-6 max-w-3xl mx-auto">
    <h1 class="text-3xl font-bold text-orange-500 mb-2">Update Student</h1>
    <p class="text-gray-400 mb-6">กรอกข้อมูลนักศึกษาและเลือกคณะ</p>

    <!-- ตรง action แก้เป็น url ของตัวเองด้วย -->
    <form method="post" action="{% url 'update_student' student_id %}" class="space-y-5 bg-white p-6 rounded-xl border border-orange-100 shadow" enctype="multipart/form-data">
      {% csrf_token %}

      <div>
          
          <!-- {% if profile.image %}
          <img src="/media/{{ profile.image }}" alt="" width="150">
          {% else %}
          <img src="/media/images/no-image.png" alt="" width="150">
          {% endif %} -->
          <div>
          {% if profile.image %}
              <img src="{{ profile.image.url }}" alt="Student Image" width="150" class="mb-2" id="myimg">
          {% else %}
              <img src="/media/images/no-image.png" alt="No Image" width="150" class="mb-2" id="myimg">
          {% endif %}

          <!-- input upload ใหม่ -->
          

      </div>

      <div class="grid sm:grid-cols-2 gap-4 form-control">
        <div class="">
          <label for="{{ form.student_id.id_for_label }}" class="block text-sm font-medium text-gray-700">Student ID</label>
          {{ stdform.student_id }}
        </div>

        <div>
          <label for="{{ form.faculty.id_for_label }}" class="block text-sm font-medium text-gray-700">Faculty</label>
          {{ stdform.faculty }}
        </div>
      </div>

      <div class="grid sm:grid-cols-2 gap-4 form-control">
        <div>
          <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-medium text-gray-700">First Name</label>
          {{ stdform.first_name }}
        </div>
        <div>
          <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium text-gray-700">Last Name</label>
          {{ stdform.last_name }}
        </div>
      </div>

      <div class="grid sm:grid-cols-2 gap-4 form-control">
        <div>
          <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">Email</label>
          {{ proform.email }}
        </div>
        <div>
          <label for="{{ form.phone_number.id_for_label }}" class="block text-sm font-medium text-gray-700">Phone</label>
          {{ proform.phone_number }}
        </div>
      </div>

      <div class="form-control">
        <div>
          <label for="{{ form.address.id_for_label }}" class="block text-sm font-medium text-gray-700">Address</label>
          {{ proform.address }}
        </div>

        <p class="text-xs text-gray-400 mt-1">
          email, phone, address จะถูกบันทึกลง <code>StudentProfile</code>
        </p>
      </div>

      <div class="form-control">
        <div class="[&>select]:h-48 ">
          <label for="{{ form.enrolled_sections.id_for_label }}" class="block text-sm font-medium text-gray-700">Select Sections</label>
          {{ stdform.enrolled_sections }}
        </div>

        <p class="text-xs text-gray-400 mt-1">ปล่อยว่างได้ ถ้ายังไม่ลงทะเบียนวิชา</p>
      </div>

      <input type="file" name="image" id="imageInput">

      <div class="flex items-center justify-end gap-3 pt-2">
        <button type="reset" class="px-4 py-2 rounded-lg border">Cancel</button>
        <button type="submit" class="px-5 py-2 rounded-lg bg-orange-500 text-white hover:bg-orange-600">Create</button>
      </div>
    </form>
  </div>

  <script>
      const input = document.getElementById('imageInput');
      const img = document.getElementById('myimg');

      input.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
            img.src = e.target.result; // แสดงไฟล์ใหม่
          }
          reader.readAsDataURL(file);
        }
      });
  </script>
{% endblock %}
